html,body,div,h1,h2,h3,h4,h5,h6,p,img,ul,li,input,span,a,i{
  padding:0;
  margin: 0;
}
html{
    font-family: "microsoft yahei", "HanHei SC","PingHei","PingFang SC","STHeitiSC-Light","Helvetica Neue","Helvetica","Arial",sans-serif;
} 
img{
  border: none;
  vertical-align: top;
  width: 100%;
}
a{
    text-decoration: none;
}
input,textarea,button{
  outline: none;
  -webkit-appearance: none;
}

textarea{
  resize: none;
  overflow: hidden;
}
li{
  list-style: none;
}

*{
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent ;
}
.clear{
   zoom: 1;
}
.clear:after{
  content: "";
  display: block;
  clear: both;
}

.fl,.pull-left{
  float: left;
}
.fr,.pull-right{
  float: right;
}

.section{
   width: 100%;
   position: relative;
}
.section-center{
  padding: 0 0.413rem;
  position: relative;
}

.full{
  width: 100%;
}
.absolute{
  position: absolute; 
}
.relative{
   position: relative;
}
.noscroll::-webkit-scrollbar{
  width: 0px;
  height: 0px;
}
a{
   -webkit-tap-highlight-color: rgba(0,0,0,0); 
}
html, body{
  width: 100%;
  height: 100%;
  overflow: hidden;
}
html{
  font-size: -webkit-calc(10vw); /* hack for internet is slow the rem is not load. */
  font-size: calc(10vw);
}
body{
  width: 10rem;
  margin: 0 auto;
  position: relative;
  background-color: #F5F5F5;
}

.scroll-box{
    -webkit-overflow-scrolling: touch;
    overflow-y: auto;
}
